
/*= 2-week signup - below fold = */

/** 2-week signup - below fold >> Elementor accordion item **/
#post-2463 .elementor-accordion-item {
	margin-bottom: 10px !important;
	border-top: 1px solid rgb(213, 216, 220) !important;
	border-radius: 10px !important;
}

/** 2-week signup - below fold >> Elementor active **/
.mtp-2463 #post-2463 .elementor-active {
	background-color: rgb(255, 255, 255) !important;
	border-bottom-right-radius: 10px !important;
	border-bottom-left-radius: 10px !important;
}

/** 2-week signup - below fold >> Elementor element a78ef2a **/
#post-2463 .elementor-element-a78ef2a {
	box-shadow: 0 3px 5px 4px rgba(65, 65, 65, 0.05) !important;
}

/** 2-week signup - below fold >> Elementor element 9af1624 **/
#post-2463 .elementor-element-9af1624 {
	box-shadow: 0 3px 5px 4px rgba(65, 65, 65, 0.05) !important;
}

/** 2-week signup - below fold >> Elementor element 6c9287a **/
#post-2463 .elementor-element-6c9287a {
	box-shadow: 0 3px 5px 4px rgba(65, 65, 65, 0.05) !important;
}

/** 2-week signup - below fold >> Elementor element 2e75beb **/
#post-2463 .elementor-element-2e75beb {
	box-shadow: 0 3px 5px 4px rgba(65, 65, 65, 0.05) !important;
}


/*( < 1200 )*/
@media (max-width: 1199.98px) {
	/** 2-week signup - below fold >> Uael team desig **/
	#post-2463 .uael-team-desig {
	padding-right: 0 !important;
	padding-left: 5px !important;
}

}


/*( < 480 )*/
@media (max-width: 479.98px) {
	/** 2-week signup - below fold >> Link **/
	.mtp-2463 .e-flex a {
	line-height: 27px !important;
}

}

