
/*= Home - Specmatic Open Source Contract - below fold = */

/** Home - Specmatic Open Source Contract - below fold >> Elementor repeater item 395002d **/
.mtp-10 .elementor-element-2293910 .elementor-repeater-item-395002d {
	padding: 10px !important;
}

/** Home - Specmatic Open Source Contract - below fold >> Elementor repeater item d1c2f62 **/
.mtp-10 .elementor-element-2293910 .elementor-repeater-item-d1c2f62 {
	padding: 10px !important;
}

/** Home - Specmatic Open Source Contract - below fold >> Elementor repeater item 09605bc **/
.mtp-10 .elementor-element-2293910 .elementor-repeater-item-09605bc {
	padding: 10px !important;
}

/** Home - Specmatic Open Source Contract - below fold >> Uael team social icon **/
.mtp-10 .elementor-element-b8b186a .uael-team-social-icon {
	position: relative !important;
	bottom: -25px !important;
}

/** Home - Specmatic Open Source Contract - below fold >> Uael team social icon _2 **/
.mtp-10 .elementor-element-4daa91f .uael-team-social-icon {
	position: relative !important;
	bottom: -25px !important;
}

/** Home - Specmatic Open Source Contract - below fold >> Uael team social icon _3 **/
.mtp-10 .elementor-element-90d19ca .uael-team-social-icon {
	position: relative !important;
	bottom: -25px !important;
}

/** Home - Specmatic Open Source Contract - below fold >> Menu about **/
#menu-about {
	position: relative !important;
	top: -4px !important;
}

/** Home - Specmatic Open Source Contract - below fold >> Ast builder grid row container inner **/
.mtp-10 .site-below-footer-wrap .ast-builder-grid-row-container-inner {
	height: 100px !important;
}


/*( < 1200 )*/
@media (max-width: 1199.98px) {
	/** Home - Specmatic Open Source Contract - below fold >> Site footer above section 2 **/
	.site-footer-above-section-2 {
	top: -4px !important;
}

}


/*( < 767 )*/
@media (max-width: 767px) {
	/** Home - Specmatic Open Source Contract - below fold >> Uael team social icon **/
	.mtp-10 .elementor-element-b8b186a .uael-team-social-icon {
	position: static !important;
}

	/** Home - Specmatic Open Source Contract - below fold >> Uael team social icon _2 **/
	.mtp-10 .elementor-element-4daa91f .uael-team-social-icon {
	position: static !important;
}

	/** Home - Specmatic Open Source Contract - below fold >> Uael team social icon _3 **/
	.mtp-10 .elementor-element-90d19ca .uael-team-social-icon {
	position: static !important;
}

	/** Home - Specmatic Open Source Contract - below fold >> Site footer above section 2 **/
	.site-footer-above-section-2 {
	margin-bottom: 0 !important;
}

}

